# for data.tf
azure_local_resource_group_name = "rg-azure-local"
azure_vm_resource_group_name = "rg-azure-vms"

# for main.tf
location                     = "eastus"
image_resource_group_name    = "rg-azure-local-images"

vm_name            = "hci-vm01"
custom_location_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-azure-local/providers/Microsoft.ExtendedLocation/customLocations/my-custom-location"
logical_network_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-azure-local/providers/Microsoft.AzureStackHCI/logicalNetworks/my-logical-network"
image_id           = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-azure-local-images/providers/Microsoft.AzureStackHCI/marketplaceGalleryImages/winServer2022-01"
os_disk_storage_container_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-azure-local/providers/Microsoft.AzureStackHCI/storageContainers/my-storage-container"

admin_username = "azurelocaladmin"
admin_password = "ReplaceWithAStrongPassword123!"

processor_count = 4
memory_mb       = 8192
c_drive_size_gb = 127
os_disk_hyperv_generation = "V2"

private_ip_address                = null
provision_vm_agent                = true
provision_vm_config_agent         = true
windows_enable_automatic_updates  = true
windows_time_zone                 = "Eastern Standard Time"
secure_boot_enabled               = true
enable_tpm                        = true
security_type                     = "TrustedLaunch"
placement_zone                    = null
strict_placement_policy           = false

tags = {
  environment = "dev"
  workload    = "azure-local-vm"
}
